<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dennis Anaya's Portfolio Site" />
    <meta name="keywords" content="architecture, design, build, contractor" />
    <meta name="author" content="Vinny Marquez" />

    <!--====== TITLE TAG ======-->
    <title>Dennis Anaya | DA Architects</title>

    <!--====== FAVICON ICON =======-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="img/favicon/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slick.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner">
            <img src="img/preloader.gif" alt="">
        </div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="top-area-bg"></div>
        <div class="header-top-area">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a href="#home" class="navbar-brand"><img src="img/logo.png" alt="logo"></a> -->
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul id="nav" class="nav navbar-nav cl-effect-11">
                                <li><a href="#home">home</a></li>
                                <li><a href="#about">about</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#experience">Experience</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#testmonial">Testmonials</a></li>
                                <!-- <li><a href="#blog">Blog</a></li> -->
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
        <div class="welcome-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h6>Hi, I'm</h6>
                            <h1>Dennis Anaya</h1>
                            <p>ARCHITECT @ DA ARCHITECTS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-img-layer">
                <img src="/img/cityscape.png" alt="">
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--ABOUT AREA-->
    <section class="about-area section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-image-area">
                        <img src="img/about/dennis-anaya.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="about-content wow fadeIn">
                        <div class="about-details">
                            <h3>About Me</h3>
                            <p>16 years Professional Architecture experience, 8 years management experience, and 5 years contracting experience. Running and Cycling enthusiast. Married, father of beautiful twins.</p>
                        </div>
                        <div class="skillst wow fadeIn">
                            <div class="skillbar" data-percent="90%">
                                <div class="skill-info">
                                    <div class="title">Management</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="85%">
                                <div class="skill-info">
                                    <div class="title">Lumion</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="skill-info">
                                    <div class="title">Sketchup</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="skill-info">
                                    <div class="title">Autocadd</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="skill-info">
                                    <div class="title">Adobe Photoshop</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="skill-info">
                                    <div class="title">Revit</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                        </div>
                        <a href="/downloads/dennis-anaya-cv.pdf" class="download-btn" download>Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--SERVICE AREA-->
    <section class="service-area gray-bg section-padding" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Services</h2>
                        <p>What can I help you with? Shoot me an email, a message, or give me call to know more about my services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-laptop"></i></div>
                        <h3>Design</h3>
                        <p>Design plans, from residential to business.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-laptop"></i></div>
                        <h3>Render</h3>
                        <p>Rendering plans in 3D to help clients visualize.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-laptop"></i></div>
                        <h3>Build</h3>
                        <p>Experience with contracting and building. Can be bundled with design services.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-laptop"></i></div>
                        <h3>Consultant</h3>
                        <p>Act as consultant for your projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

    <!--EXPERIENCE AREA-->
    <section class="experience-area section-padding" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Experience</h2>
                        <p>I have more than a decade and a half worth of experience in the Architecture Industry, working for 5 companies here in the Philippines. These are my latest employment, don't hesitate to download my full CV to view my details in detail.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>RCHITECTS, Inc.</h5>
                            <p>Feb 2012-Present</p>
                        </div>
                        <h3>Design Manager / Senior Designer</h3>
                        <p>Design conceptualization and planning, preparation of design drawings from Schematic Design to Design Development Phase to early stage Contract Documents Phase.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Major Holdings Inc.</h5>
                            <p>Sep 2011-Jan 2012</p>
                        </div>
                        <h3>Head for Vertical Developments</h3>
                        <p>Managed planning and design division including horizontal developments, as well as managing and supervising on-going construction.</p>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Themeforest</h5>
                            <p>2013-Present</p>
                        </div>
                        <h3>web programmer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sglied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>QuomodoTheme</h5>
                            <p>2013-present</p>
                        </div>
                        <h3>Wordpress DEVELOPER</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sglied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div> -->
            </div>
            <div class="text-center row">
                <a href="/downloads/dennis-anaya-cv.pdf" class="download-btn" download>Download Full CV</a>
            </div>
        </div>
    </section>
    <!--EXPERIENCE AREA END-->

    <!--FUN FACT AREA-->
    <section class="fun-fact-area gray-bg section-padding" id="fact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="img/icons/user.svg" alt=""></div>
                        <p>Happy Clients</p>
                        <h3><span class="counter">80</span> +</h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="img/icons/medal.svg" alt=""></div>
                        <p>Honors & Awards</p>
                        <h3><span class="counter">10</span> +</h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="img/icons/checked.svg" alt=""></div>
                        <p>Successful Projects</p>
                        <h3><span class="counter">200</span> +</h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="img/icons/briefcase.svg" alt=""></div>
                        <p>Trusted Clients</p>
                        <h3><span class="counter">50</span> +</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FUN FACT AREA END-->

    <!--PORTFOLIO AREA-->
    <section class="portfolio-area section-padding" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Portfolio</h2>
                        <p>A summary of my collective professional work over the years. These projects range from professional employment to personal contracting. The 9 projects featured here are some of my best work, you can view my full portfolio by clicking on the button below.</p>
                    </div>
                </div>
            </div>
            
            <div class="row portfolio-list">
                
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/thumbs/02-12-daa-120818-larizza-residence-20200516-r00-thumb.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-12-daa-120818-larizza-residence-20200516-r00.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Larizza Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/thumbs/02-13-daa-130401-buan-residence-20200516-thumb.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-13-daa-130401-buan-residence-20200516.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Buan Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/thumbs/02-16-daa-140207-cruz-residence-20200516-r00-thumb.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-16-daa-140207-cruz-residence-20200516-r00.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Cruz Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/02-20-daa-150124-caro-residence-20170116-r00.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-20-daa-150124-caro-residence-20170116-r00.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Caro Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/thumbs/02-09-daa-101201-marcelo-residence-renovation-20200516-thumb.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-09-daa-101201-marcelo-residence-renovation-20200516.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Marcelo Residence Renovation</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/02-25-01-daa-160209-verceles-residence-20190608-r01.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-25-01-daa-160209-verceles-residence-20190608-r01.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Verceles Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/02-26-daa-170501-enriquez~jimenez-residence-20200513-r00.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-26-daa-170501-enriquez~jimenez-residence-20200513-r00.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Enriquez ~ Jimenez Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/02-29-daa-180204-sanchez-residence-20200513-r01.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-29-daa-180204-sanchez-residence-20200513-r01.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Sanchez Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/02-32-01-daa-200204-enojado-residence-ai-20200516-r00.jpg" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/02-32-01-daa-200204-enojado-residence-ai-20200516-r00.jpg" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Enojado Residence</h3>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="area-title text-center wow">
            <!-- <a class="btn btn-primary regular-button" role="button" href="/portfolio/">VIEW FULL PORTFOLIO</a> -->
            <a href="/portfolio/" class="download-btn">View full Porfolio</a>
        </div>
    </section>
    <!--PORTFOLIO AREA END-->

    <!--TESTMONIAL AREA-->
    <section class="testmonial-area gray-bg section-padding" id="testmonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <div class="testmonial-member-image-slider">
                                <div class="single-member-img">
                                    <img src="img/testmonial/testmonial_slide_member_1.png" alt="">
                                </div>
                                <div class="single-member-img">
                                    <img src="img/testmonial/testmonial_slide_member_2.png" alt="">
                                </div>
                                <div class="single-member-img">
                                    <img src="img/testmonial/testmonial_slide_member_3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="testmonial-text-slider">
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>I have been so impressed with the work that he has done for us.</p>
                                    </div>
                                </div>
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>Dennis and his team were able to not only manage the project successfully and efficiently, generating and developing inspired, rigorous and informed design.</p>
                                    </div>
                                </div>
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>To be able to actually see the transition from design to our dream house has been a rewarding experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testmonial-thumbnail-slider">
                                <div class="single-tesmonial-thumb">
                                    <img src="img/testmonial/testmonial_slide_member_1.png" alt="">
                                </div>
                                <div class="single-tesmonial-thumb">
                                    <img src="img/testmonial/testmonial_slide_member_2.png" alt="">
                                </div>
                                <div class="single-tesmonial-thumb">
                                    <img src="img/testmonial/testmonial_slide_member_3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA END-->

    <!--CONTACT AREA-->
    <section class="contact-area gray-bg padding-top" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="contact-area-details">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="contact-form-area wow fadeIn">
                                    <h2>Do you want to know more?</h2>
                                    <div class="contact-form">
                                        <form action="process.php" id="contact-form" method="post">
                                            <div class="form-group" id="name-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="email-field">
                                                <div class="form-input">
                                                    <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="phone-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="form-group" id="message-field">
                                                <div class="form-input">
                                                    <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit">send message</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12">
                                <div class="footer-right-area wow fadeIn">
                                    <h2>Contact Address</h2>
                                    <div class="footer-right-contact">
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <p>Evergreen, City of Biñan, Laguna, PH</p>
                                        </div>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <p><a href="dennis.anaya@gmail.com">dennis.anaya@gmail.com</a></p>
                                            <!-- <p><a href="mailto:mehedidb@gmail.com">dennis.anaya@gmail.com</a></p> -->
                                        </div>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <!-- <p><a href="calto:+8801744430440">+88 01744 430 440</a></p> -->
                                            <p><a href="calto:+639173951044">(+63) 0917-395-1044</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT AREA END-->

    <!--FOOER AREA-->
    <div class="footer-area gray-bg">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="social-bookmark">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-copyright text-center">
                        <p>Copyright &copy; Dennis Anaya. All Right Reserved. Site maintained by <a href="http://vinnymarquez.com">Vinny Marquez</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="js/vendor/jquery.easing.1.3.js"></script>
    <script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/vendor/jquery.appear.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="js/main.js"></script>
</body>

</html>
